.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: center;

  min-width: 300px;
  min-height: 50px;

  background-color: #382766;
  border-radius: 8px;
}
