.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 128px;
  padding: 0 24px;

  background-color: black;
}

.main {
  display: flex;
  flex-grow: 1;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 16px;

  background-color: antiquewhite;
}

.footer {
  height: 64px;
  background-color: gold;
}
