.pagination {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  padding: 0 8px;

  .li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;

    &:hover {
      cursor: pointer;
    }

    button {
      display: flex;
      align-items: center;

      width: 44px;
      height: 48px;
      padding: 16px;

      font-size: 24px;

      background-color: inherit;
    }
  }

  .selected {
    background-color: #382766;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 48px;

  background-color: #382766;

  &:hover {
    cursor: pointer;
  }
}

.disabledButton {
  background-color: #382766;
}
