.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 128px;

  background-color: green;
}

.main {
  position: relative;

  display: flex;
  flex-grow: 1;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0 40px 16px;

  background-color: antiquewhite;
}

.main::after {
  content: '';

  position: absolute;
  top: 0;
  left: 196px;

  display: block;

  width: 1px;
  height: 100%;

  background-color: beige;
}

.footer {
  height: 64px;
  padding: 0 24px;
  background-color: gold;
}
