@import '/styles/mixins';

.container {
  @include containerMixin;

  justify-content: flex-start;
}

.name {
  font-size: 32px;
  font-weight: 700;
}

.episodesWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}
